<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print">
    <link rel="stylesheet" type="text/css" href="dist/md-date-time.css" media="screen">
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/angular_material/0.6.1/angular-material.min.css" media="screen">
    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css" media="screen">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>md-date-time by SimeonC</title>
  </head>

  <body>
    <header>
      <div class="inner">
        <h1>Md-date-time (Depreciated)</h1>
        <h2>A Date-Time picker based on Googles Material Design Spec</h2>
        <a href="https://github.com/SimeonC/md-date-time" class="button"><small>View project on</small> GitHub</a>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content" ng-app="testMod" ng-controller="testCtrl">
        	<h2>This library is depreciated in favour of <a href="http://simeonc.github.io/sc-date-time">scDateTime</a></h2>
	        <h3>
<a id="demo" class="anchor" href="#demo" aria-hidden="true"><span class="octicon octicon-link"></span></a>Demo's</h3>
			<p>Change Locale by including correct i18n file, eg http://cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.2.15/angular-locale_ko-kr.js</p>
			<p>Display in Vertical Mode {{vertmode}} 
			<input type="checkbox" ng-model="vertmode"/>
			</p>
			<p>Basic Mode: {{date | date:'yyyy/MM/dd HH:mm a'}}</p>
			<time-date-picker ng-model="date" orientation="{{vertmode}}" class="modal-content"></time-date-picker>
			<p>Full Mode: {{date | date:'yyyy/MM/dd HH:mm a'}}</p>
			<time-date-picker ng-model="date" data-display-mode="full" orientation="{{vertmode}}" class="modal-content"></time-date-picker>
			<p>Start on Time, With 24 Hour: {{date | date:'yyyy/MM/dd HH:mm a'}}</p>
			<time-date-picker ng-model="date" default-mode="time" display-twentyfour="true" orientation="{{vertmode}}" class="modal-content"></time-date-picker>
			<p>Time Only: {{date | date:'yyyy/MM/dd HH:mm a'}}</p>
			<time-date-picker ng-model="date" display-mode="time" orientation="{{vertmode}}" class="modal-content"></time-date-picker>
			<p>Date Only: {{date | date:'yyyy/MM/dd HH:mm a'}}</p>
			<time-date-picker ng-model="date" display-mode="date" orientation="{{vertmode}}" class="modal-content"></time-date-picker>
        </section>

        <aside id="sidebar">
          <a href="https://github.com/SimeonC/md-date-time/zipball/master" class="button">
            <small>Download</small>
            .zip file
          </a>
          <a href="https://github.com/SimeonC/md-date-time/tarball/master" class="button">
            <small>Download</small>
            .tar.gz file
          </a>

          <p class="repo-owner"><a href="https://github.com/SimeonC/md-date-time"></a> is maintained by <a href="https://github.com/SimeonC">SimeonC</a>.</p>

          <p>This page was generated by <a href="https://pages.github.com">GitHub Pages</a> using the Architect theme by <a href="https://twitter.com/jasonlong">Jason Long</a>.</p>
        </aside>
      </div>
    </div>

  <script type="text/javascript" src="javascripts/angular.min.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular-animate.min.js"></script>
  <script type="text/javascript" src="http://cdn.jsdelivr.net/hammerjs/2.0.4/hammer.min.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-aria.min.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angular_material/0.6.1/angular-material.min.js"></script>
  <script type="text/javascript" src="dist/md-date-time.js"></script>
  <script type="text/javascript" src="javascripts/main.js"></script>
  </body>
</html>
